*{
    margin: 0;
    padding: 0;
}
.container{
    /* height: 825px; */
    background: url(banner.png);
    box-sizing: border-box;
    padding-top: 150px;
    
    /* display: flex;
    align-items: center; */
}
.text{
    text-align: center;
    font-size: 80px;
    color: rgba(228, 43, 133, 0.764);
    /* margin: 100px; */
}
.text >div{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}
.prof{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 50px 120px 0px 50px
    
}
.prof > div{
    margin: 20px;
}

div > img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
.cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    padding: 10px;
    box-sizing: border-box;
    /* margin: 5px; */
}
.profile{
    display: flex;
}
.act{
    display: flex;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}
.pic >img{
    width: 30px;
    border-radius: 50%;
}
.cr{
    width: 32%;
    min-height: 300px;
    margin: 10px; 
    box-shadow: 2px 2px 2px 2px gray;
    border-radius: 10px;
}
.about{
    padding: 20px;
    box-sizing: border-box;
}
.cr:hover{
    box-shadow: 4px 4px 4px 4px gray;
    background-color: rgb(198, 222, 234);
}
